body{
    /*
	font-family:arial,helvetica,sans-serif;
	color: black;
	font-size: 12px;
    */
}

.tagsEditor img{
	margin: 0;
	padding: 0;
	border: none;
}

.tagsEditor h1,
.tagsEditor h2,
.tagsEditor h3,
.tagsEditor h4{
	color: #EB8000;
	margin: 0;
	padding: 0;
}

.tagsEditor h4 {
    text-align:center;
}

.tagsEditor h3 {
    font-size:0.8em;
    padding-top:5px;
}

.tagsEditor a{
	cursor: pointer;
}

#tags_editor{
	width: 400px;
	padding: 10px;
	margin: 0 auto 0 auto;
	border: 1px solid lightGray;
}
	div.tagsEditor{
                bottom:20px;
                left:47px;
                position:absolute;
                right:30px;
                top:43px;
	}

	div.tagsEditor div.delete {
		cursor: pointer;
		margin: 0 0 0 2px;
		width: 8px;
		height: 8px;
		opacity: 0.5;
		border:none;
		background-image: url(../img/x.gif);
		position:relative;
		top:-4px;
		display:inline-block;
	}
	div.tagsEditor div.delete:hover {
		opacity: 1;
	}
	div.tagsEditor div.add{
		cursor: pointer;
		margin: 0 10px 0 2px;
		width: 8px;
		height: 8px;
		border:none;
		background-image: url(../img/plus.png);
		position:relative;
		display:inline-block;
	}

		div.tagsEditor_loading{
			width: 16px;
			height: 16px;
			background-image: url('../../common/img/wait.gif');	
		}
                div.tagsEditor_loading.main {
                    position:absolute;
                    right:23px;
                    top:0;
                }
                div.tagsEditor_loading.inline {
			display:inline-block;
                }

		div.tagsEditor_requiredTags{
                    margin-top:5px;
                    padding-bottom:5px;
                    border-bottom:1px dashed #CECECE;
		}

			div.tagsEditor_requiredTags select{
				margin-right: 10px;
			}
			/*CONTROLLED TAGS IN CATEGORY*/
			div.tagsEditor_requiredTags div.categoryContainer div.categoryTags span{
				cursor: pointer;
				margin: 0 10px 0 0;
			}
			/*CONTROLLED TAGS IN CATEGORY : HOVER*/
			div.tagsEditor_requiredTags div.categoryContainer div.categoryTags span:hover{
				background-color: khaki;
			}

			/*CLASS WITH PERMA-GOLD BACKGROUND-COLOR*/
			div.tagsEditor_requiredTags div.categoryContainer div.categoryTags span.gold{
				background-color: khaki;
			}

		div.tagsEditor_freeTags{
                    padding-top:15px;
                    border-bottom:1px dashed #CECECE;
		}

                div.tagsEditor_freeTagsEditor {
                    margin-top: 10px;
                    margin-bottom:10px;
}

		div.tagsEditor_freeTagsEditor #tagsEditor_inputText{
			border: 1px solid lightGrey;
			margin-right: 5px;
		}
		div.tagsEditor_freeTagsEditor #tagsEditor_submitButton{
			border: 1px solid lightGrey;
			cursor: pointer;
		}

		div.tagsEditor_recommendTags{
			color: gray;
			margin-top: 5px;
		}
                div.tagsEditor_recommendTags a {
                    color: #EE6523;
                }
                div.tagsEditor_recommendTags a:hover {
                    text-decoration:underline;
            }
		div.tagsEditor_optional{
			color: grey;
			margin-top: 5px;
		}
			/*TagCloud*/
			div.tagsEditor_optional div a{
				color: #666666;
				margin-right: 10px;
                                white-space: nowrap;
                                cursor: pointer;
                                padding:5px;
			}
                        div.tagsEditor_optional div a:hover {
                            text-decoration: underline;
                        }


			div.tagsEditor_optional div a.selectedTag{
				color: black;
                                text-decoration: underline;
                                background-color:#999999;
			}

				/*Must be for orange color of .tagsEditor_controlled class inside <a> (wich has grey color from line 76*/
				div.tagsEditor_optional div a.tagsEditor_controlled{
					color: #EB7070;
				}
				div.tagsEditor_optional div a.selectedTag.tagsEditor_controlled{
					color: #EB0000;
                                        background-color:#EBC0C0;
				}

                                div.tagsEditor_optional span.categorytags_label{
                                    color: #EB0000;
                                }
                                div.tagsEditor_optional span.freetags_label {
                                    color: black;
                                }
		
		.tagsEditor_controlled{
			color: #EB8000;
		}

div.overlay {
    /* growing background image */
    background-image:url(../img/white.png);

	/* dimensions after the growing animation finishes  */
    width:540px;
    height:400px;

    /* initially overlay is hidden */
    display:none;

    /* some padding to layout nested elements nicely  */
    padding:55px;
}

/* default close button positioned on upper right corner */
div.overlay a.close {
    background-image:url(../img/close.png);
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}


div.categoryContainer{

}
	div.categoryContainer div.categoryName{
		text-align: left;
		margin-right: 5px;
		float: left;
		font-weight:bold;
	}
	div.categoryContainer div.categoryTags{
		/*width: 435px;*/
		float: left;
	}

		div.categoryContainer div.categoryTags span.add{
			display: none;
		}
		div.categoryContainer div.categoryTags span.none{
			display: none;
		}
		div.categoryContainer div.categoryTags.empty span.none{
			display: inline;
		}
		/* on hover above empty category, show "add" and hide "none" */
		div.categoryContainer:hover div.categoryTags span.add {
			display: inline;
		}
		div.categoryContainer:hover div.categoryTags span.none{
			display: none;
		}
		
			div.categoryContainer div.categoryTags span.add a{
				color: black;
			}

	div.categoryContainer div.categoryClear{
		clear: both;
		width: 100%;
		height: 1px;
		visibility: hidden;
	}

div.tagsEditor_tagCloud {
    overflow-y:auto;
    border-top:1px dashed #CECECE;
}

div.tagsEditor_tagCloud div.hint {
    position: relative;
    left: 90px;
    top: 60px;
    background-image: url(../img/magic_wand_tag.png);
    background-repeat: no-repeat;
    width: 300px;
    padding-left: 75px;
    text-align: left;
}
div.tagsEditor_tagCloud div.hint p {
    color: gray;
}
div.tagsEditor_tagCloud div.hint a {
    color: rgb(238, 101, 35);
    font-size: 20px;
    cursor:pointer;
}
div.tagsEditor_tagCloud div.hint a:hover {
    text-decoration: underline;
}

div.tagsEditor_tagCloud div.noTags {
    display:none;
}
div.tagsEditor_tagCloud.noTags div.noTags {
    display:block;
    padding-top:30px;
    text-align:center;
}

div.suntagEditor_inlineTags {
    margin-bottom:10px;
}
div.suntagEditor_inlineTags a.free {
    color: black;
}
div.suntagEditor_inlineTags a.controlled {
    color: #EB0000;
}
div.suntagEditor_inlineTags a {
    text-decoration: none;
}
div.suntagEditor_inlineTags a:hover {
    text-decoration: underline;
}

div.helpIcon {
    background-image:url(../img/help.png);
    background-position:0px 0px;
    cursor:pointer;
    height:16px;
    position:absolute;
    right:30px;
    top:43px;
    width:16px;
}
div.helpIcon:hover {
    background-position:0px 16px;
}

div.tagsEditorHelp {
    bottom:20px;
    left:47px;
    position:absolute;
    right:30px;
    top:43px;
}

div.tagsEditorHelp span.left_arrow {
    width: 15px;
    height: 15px;
    background-image:url("../img/left_arrow.png");
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.6;
}

div.tagsEditorHelp span.right_arrow {
    width: 15px;
    height: 15px;
    background-image:url("../img/right_arrow.png");
    cursor: pointer;
    display: inline-block;
    opacity: 0.6;
}

div.tagsEditorHelp table tr {
    border-bottom: 1px dotted gray;
}

div.tagsEditorHelp table td.control {
    width:180px;
    vertical-align:top;
}